/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* nav bar end */
.dream .text{
  text-align: center;
  text-align: justify;
  
   }
   .dream .text button{
       color: white;
       background-color: black;
   }
   .dream .text h3{
       text-transform: capitalize;
       font-weight: bold;
       font-size: 60px;

   }
   .dream .text p{
       font-size: 15px;
   }
   
   /* create a memory */
   .memory_main{
padding: 0px;
margin-top: 50px;
   }
   .memory_main .memory{
       display: flex;
       background-color: black;
       align-items: center;
       text-transform: capitalize;
   }
   .memory_main .memory .text_memory{
      color: white;
      text-align: center;
     
      
   } 
  .memory_main .memory .text_memory button{
      background-color: black;
      color: white;
      border: 2px solid white;

   }
   @media screen and (max-width: 992px) {
       .dream .text h3{
           text-transform: capitalize;
           font-weight: bold;
           font-size: 30px;
   
       }
       .dream .text p{
           padding: 20px;
       }
       .memory_main{
           padding: 50px;

       }
      .memory_main .memory{
           flex-direction: column;
           
       }
   .memory_main .memory .signature1 img{
      
       width: 200px;
      }
      .memory_main .memory .signature img{
      
       width: 200px;
      }
      .memory_main .memory .text_memory p{
       padding: 10px;

      }
      .memory_main .memory .text_memory h2{
       padding: 10px;

      }


   }
   /* 3 photo image */
   
   .three .photo{
       width: 100%;
      
   }
   
   .three .photo img{
       width: 100%;
      
   }
   .three .photo_text{
       width: 100%;
      
       
   }
   .three .photo_text p{
       text-align: justify;
   
   }
   .three .photo_text h3{
      
     color:blue;
   }
   .three .photo_sig{
       position: absolute;
       left: 0px;
       width: 50px;
       height: 200px;
   }
   .three .photo_sig img{
      
       height: 700px;
   }
   .three .sinature{
       position: absolute;
       width: 50px;
       right: 50px;
      top: 900px;
   }
   @media screen and (max-width: 1200px) {
       .three .photo_sig{
           display: none;
       }
       .three .sinature img{
           display: none;
       }
   }

   /* aeroplane */
   .never{
       text-align: center;
   }
   .never h3{
       text-transform: capitalize;
       font-weight: bold;
   }
.never .text_see hr{
   width: 80px;
   margin-left: 430px;
   margin-top: -8px;
   height: 2px;
   background-color: black;}

   @media screen and (max-width: 992px) {
       .never .text_see hr{
           
           margin-left: 340px;
           }

   }
   @media screen and (max-width: 768px) {
       .never .text_see hr{
           
           margin-left: 150px;
           }

   }
.second .full{
   display: flex;
   justify-content: center;
   text-align: center;
   width: 100%;
}
.second .full h3{
   font-size: 30px;
   font-weight: bold;
  padding-top: 10px;
}
.second .full p{
   text-align: justify;
   font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
   
   padding: 10px 20px;
}
.second .arrow{
   width: 100%;
   display: flex;
   justify-content: end;

}

/* choose anywheres */
.choose{
   width: 100%;
   background-color: black;
  
}
.choose .photo{
   display: flex;
   justify-content: end;
   padding-top: 20px;
}
.choose .photo img{
   width: 100%;
}
  

.choose .text {
   color: white;
   padding: 20px;
}

/* boy think */
.dolor{
   width: 100%;
}


/* here what they have */


/* .slider */


.slider-sweet{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.slider-sweet .swiper .slide-content .swiper-wrapper .swiper-slide{
  border-radius: 25px 25px 20px 20px
} 
.slide-container{
  max-width: 1120px;
  width: 100%;
  padding: 50px 20px;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px 20px 20px 20px
}
.card{
  border-radius: 25px 20px 20px 20px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #6E93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #4070F4;
}

@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}

/* be update */
.update h2{
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;

}
.update input{
  text-transform: capitalize;
}


/* quicklinks */
.quicklinks{
  background-color: #E5E8E8 ;
  width: 100%;
  margin-top: 50px;
  padding: 20px;
}
.quicklinks ul{
  list-style: none;
  text-transform: capitalize;
}
.quicklinks .text_quicklinks{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.quicklinks .text_quicklinks h2{
  font-size: 50px;
  font-weight: bold;
  text-transform: capitalize;
}
.quicklinks .linescome{
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  font-weight: bold;
}